.form {
	display: none; 
	position: fixed; 
	z-index: 111; 
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto;
	margin: auto;
	color: #14738f;
	font-family: 'Montserrat', sans-serif;
	font-size: medium;
	background: rgba(0, 0, 0, 0.55)
}

.form a{
	text-decoration:none;
	font-weight:normal;
	color:black;
}

.form p{
	font-size:small;
	font-weight:normal;
	float:none;
	text-align:center;
}

.form-content1 {
	border-radius: 15px;
	background-color: #fefefe;
	margin: auto;
	width: 100%; 
	padding: 5px 25px 30px 25px;
	box-shadow: 5px 5px 15px #393939;
	font-weight: bold;
	margin-top: 50px;
}

.form-content2 {
	border-radius: 15px;
	background-color: #fefefe;
	margin: auto;
	width: auto; 
	padding: 5px 25px 20px 25px;
	box-shadow: 5px 5px 15px #393939;
	font-weight: bold;
	font-size: small;
	margin-top: 50px;
}

.form-content2 tr{
	height:40px;
}

.close {
  position: absolute;
  top:0px;
  right:0px;
  font-size: 40px;
  font-weight: bold;
}

input{
	background-color: #dcf4f8;
	border: 0;
	height: 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: medium;
	border-radius: 10px;
}
input:focus{
	background-color: #c5f8fc;
	outline: none;
}

select, option {
	height: 35px;
	width:50%;
    font-family: 'Montserrat', sans-serif;
    background: #FFF2F9;
    border:0;
    padding: 4px;
    border-radius: 10px;
   	font-size: medium;
}

.form a:hover, .close:hover {
  color: #b5eaed;
  cursor: pointer;
}

#fgtPw {
	float:right;
	font-size:small;
}
