body{
	background-color: white;
}

h1{
	text-shadow: 5px 5px 10px orange;
}

.accordion {
    background-color: #14738f;
	padding: 20px;
	width: 70%;
	text-align: left;
	transition: 0.4s;
	margin:auto;
	height:auto;
	font-family: 'Montserrat', sans-serif;
	box-shadow:  3px 5px 5px rgba(0, 0, 0, 0.2); 
}

.active, .accordion:hover {
	background-color: #14738f;
	color:white;
}

.active {
	border-radius:20px 20px 0 0;
} 

.panel {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	margin:auto;
	width:70%;
	color:#14738f;
	border-radius:0 0 20px 20px;
	border: 2px #14738f;
	box-shadow:  3px 5px 5px rgba(0, 0, 0, 0.2);
}

.active i{
	transform:rotate(45deg);
}

i{
	float:right;
	transition:0.5s;
}